body {
    margin: 0px;
    cursor: url("images/icons/left-arrow-resize.png"), auto;
    font-family: Garamond;
    background: url(images/images/IMG_3008.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 1000;
}    

h2 {
	font-family: Garamond;
	text-decoration: none;
	font-size: 20px;
}

h3 {
	font-family: Garamond;
    color: white;
	font-size: 13px;
	letter-spacing: 3px;
	text-align: center;
}

p {
    font-family: Garamond;
    font-size: 15px;
    line-height: 20px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover{
    cursor:url("images/icons/left-pointer-resize.png"), auto;
}

.menu {
    position: absolute;
    width: 400px;
    left: 10%;
    top: 40px;
    z-index: 1100;
}

.menu a {
    text-decoration: none;
    color: white;
    letter-spacing: 3px;
    padding: 20px;
}

.header-image {
    position: absolute;
    top: 20px;
    right: 10%;
}

/*
.gallerylink {
    position: relative;
    padding: 1%;
}

.submitlink {
    position: relative;
    padding: 1%;
    top: -7px;
}

.aboutlink {
    position: relative;
    padding: 1%;
    top: -11px;
}
*/

.content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    height: 86%;
    width: 100%;
    background-color: white;
    z-index: 1100;
    overflow-y: hidden;
    overflow-x: scroll;
}

/* ------ START GALLERY CSS ----- */

.GalleryBinder {
    text-align: center;
}

.GalleryBinderSub1 {
    margin-top: 50px;
    margin-bottom: -20px;
}

.Gallery1 {
    display: inline-block;
    margin-top: 15px;
    margin-right: 5px;
    width: 300px;
    height: 200px;
    background-color: white;
    opacity: .7;
}

.Gallery1:hover {
    display: inline-block;
    margin-top: 15px;
    margin-right: 5px;
    width: 300px;
    height: 200px;
    background-color: white;
    opacity: 1;
}

.Gallery2 {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    width: 300px;
    height: 200px;
    background-color: white;
    opacity: .7;
}

.Gallery2:hover {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    width: 300px;
    height: 200px;
    background-color: white;
    opacity: 1;
}

.Gallery3 {
    display: inline-block;
    margin-left: 5px;
    width: 300px;
    height: 200px;
    background-color: white;
    opacity: .7;
}

.Gallery3:hover {
    display: inline-block;
    margin-left: 5px;
    width: 300px;
    height: 200px;
    background-color: white;
    opacity: 1;
}

.Gallery4 {
    display: inline-block;
    margin-right: 5px;
    width: 300px;
    height: 320px;
    background-color: white;
    opacity: .7;
}

.Gallery4:hover {
    display: inline-block;
    margin-right: 5px;
    width: 300px;
    height: 320px;
    background-color: white;
    opacity: 1;
}

.Gallery5 {
    display: inline-block;
    margin-left: 5px;
    width: 300px;
    height: 320px;
    background-color: white;
    opacity: .7;
}

.Gallery5:hover {
    display: inline-block;
    margin-left: 5px;
    width: 300px;
    height: 320px;
    background-color: white;
    opacity: 1;
}

.galleryContainer1 {
    margin-left: auto;
    margin-right:auto;
    width: 275px;
    height: 255px;
    text-align: justify;

}

.galleryContainer2 {
    margin-left: auto;
    margin-right:auto;
    width: 275px;
    height: 255px;

}

.galleryContainer3 {
    margin-left: auto;
    margin-right:auto;
    width: 275px;
    height: 255px;

}

.galleryContainer4 {
    margin-left: auto;
    margin-right:auto;
    width: 275px;
    height: 255px;
    text-align: justify;

}

.galleryContainer5 {
    margin-left: auto;
    margin-right:auto;
    width: 275px;
    height: 255px;

}

.galleryContainer6 {
    margin-left: auto;
    margin-right:auto;
    width: 275px;
    height: 255px;

}

.galleryImage1 {
    margin-left: auto;
    margin-right:auto;
    width: 275px;
    height: 200px;

}

.galleryImage2 {
    margin-left: auto;
    margin-right:auto;
    width: 275px;
    height: 200px;
    background: url(images/images/Lettering2.png);
}
.galleryImage3 {
    margin-left: auto;
    margin-right:auto;
    width: 275px;
    height: 200px;

}

.galleryImage4 {
    margin-left: auto;
    margin-right:auto;
    width: 275px;
    height: 200px;

}

.galleryImage5 {
    margin-left: auto;
    margin-right:auto;
    width: 275px;
    height: 200px;

}
.galleryImage6 {
    margin-left: auto;
    margin-right:auto;
    width: 275px;
    height: 200px;

}

.galleryText {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 50px;
    margin-right:auto;
    text-align: justify;
}

/* ------ END GALLERY CSS ----- */

h4 {
    position: fixed;
    left: 45px;
    font-family: Garamond;
	text-decoration: none;
	font-size: 20px;  
}

.infoBar {
    position: fixed;
    padding-left: 45px;
    padding-right: 20px;
    top: 155px;
    width: 325px;
    height: 510px;
    background-color: white;
    z-index: 5000;
}

.longwrapper {
    margin-left: auto;
    margin-right: auto;
    width: 2800px;
}

.wrappercontent {
    margin-top: 60px;
    margin-left: 375px;
}

.c1 {
    display: inline-block;
    width: 800px;
    height: 500px;

}

.c2 {
    display: inline-block;
    width: 800px;
    height: 500px;

}

.c3 {
    display: inline-block;
    width: 800px;
    height: 500px;

}
