body {
    margin: 0px;
    cursor: url("images/left-arrow-resize.png"), auto;
    font-family: helvetica, arial, sans-serif;
    background: url(images/images/IMG_3008.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 1000;
}    

a:hover{
    cursor:url("images/iconsleft-pointer-resize.png"), auto;
}

.splash header {
    position: absolute;
}

.menu {
    position: absolute;
    width: 350px;
    left: 10%;
    top: 25px;
}

.header-image {
    position: absolute;
    top:10px;
    right: 10%;
}

.gallerylink {
    position: relative;
    padding: 1%;
}

.submitlink {
    position: relative;
    padding: 1%;
    top: -7px;
}

.content {
    background-color: red;
    width: 800px;
    margin: 0 auto; 
    margin-top: 100px;
}

.aboutlink {
    position: relative;
    padding: 1%;
    top: -11px;
}

.galleryViewer {
    position: absolute;
    width: 500px;
    height: 300px;
    background-color: red;
    z-index: 1100;
    
    
}