body {
    padding: 0px;
    cursor: url(images/left-arrow.cur), none;
    font-family: helvetica, arial, sans-serif;
    background: url(images/IMG_3008.JPG);
    background-size: cover;
    z-index: 1;
}    

.title {
    background: url(images/splash-image.png);
    width: 600px;
    height: 150px;
}

.splash header {
    position: relative;
    
}

.red {
    height: 200px;
    width:200px;
    background: url(images/left-pointer.png);
}