body {
    background-color: #4b90e6;
    font-size: 80px;
    font-family: Helvetica, Arial, sans-serif;
    color: yellow;
    text-align: center;
}

div {
    background-color: red;
}

.section2 {
    background-color: lime;
}

a {
    color: black;
    text-decoration: none;
    border-bottom: 4px solid black;
}

a:hover {
    color: red;
    border-bottom: 6px solid red;
}