html, body {
    font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
    color: #3D3D3D;
    text-align: left;
    margin: 0;
    padding: 0;
}

.sidebar h2:nth-child(3) {
    position: relative;
    top: 80px;
    left: 20;
}

.sidebar h2:nth-child(5) {
    position: relative;
    top: 60px;
    left: 160px;
}

.sidebar h2:nth-child(7) {
    position: relative;
    top: 42px;
    left: 350px;
}

.sidebar h2:nth-child(9) {
    position: relative;
    top: 23px;
    left: 540px;
}

.sidebar il:nth-child(){
    background-color: black;
}

.sidebar{
  height: 200px;
  width: 1500px;
  text-align: left;
  background-image: url("blurred-background-11.png");
  left: 5px;
  color: white;
}

.sidebar h1 {
    float: left;
    position: absolute;
    height: 200px;
    width: 1500;
    top: -10px;
    font-size: 60px;
    text-shadow: 3px 3px #F54545;
}

.times {
    margin: px;
}

.sidebar h2 {
    margin-top: 0px;
    margin: 0;
    font-size: 20px;
    float: left;
    height: 20px;
    width: 1000;
    top: 0px;
}

.sidebar ul {
    position: relative;
    display: inline;
    height: 200px;
    width: 1500px;
    top: 60px;
    display: inline;
    padding: 10px;
}

.sidebar li {
    display: inline;
    margin: 10px;
}

.sidebar a:hover {
  color: white;
  text-decoration: none;
}

a {
    color: #DDF0ED;
    text-decoration: none;
}

div {
    padding: 20px;
}

a:visited {
    color: #DDF0ED;
}

.post-title h1{
    text-shadow: 2px 2px #9FC7BB;
}

.post-title h2{
    color: #5D5D5D;
}